#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define JIS 1
#define BT 4
#define MOUSE 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";
        /* combos の定義を書きたい時はここに… */

    };  /* ← combos はここで閉じる！ */

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        screenshot_select: screenshot_select {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_GUI &kp LEFT_SHIFT &kp KP_NUMBER_4>;
            label = "SCREENSHOT_SELECT";
        };
    };

    behaviors {
        /* --- ここより上にある既存の behaviors はそのまま --- */

        /* New behaviour: Cmd+A → Cmd+Tab, A 単押し → a */
        a_cmd_tab: a_cmd_tab {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp A>, <&kp LG(TAB)>;  /* ← LG(TAB) がポイント */
            mods = <(MOD_LGUI)>;                /* 右⌘も入れるなら |MOD_RGUI */
        };

        /* 既存の scroll_down_up など以下もそのまま */
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W         &kp E                  &kp R        &kp T                                      &kp Y      &kp U              &kp I      &kp O       &kp BACKSPACE
&a_cmd_tab        &kp S         &kp D                  &kp F        &kp G         &kp LS(LG(S))    &kp MINUS   &kp H      &kp J              &kp K      &kp L       &kp ENTER
&kp LEFT_CONTROL  &kp Z         &kp X                  &kp C        &kp V         &kp B            &kp ESCAPE  &kp N      &kp M              &kp COMMA  &kp PERIOD  &kp SLASH
&kp LEFT_SHIFT    &kp LEFT_ALT  &mt LEFT_ALT LEFT_ALT  &lt 2 COLON   &kp LEFT_GUI  &lt 1 SPACE                  &kp SPACE  &kp RIGHT_COMMAND                                        &lt 4 END
            >;

            sensor-bindings =
                <&scroll_down_up>,
                <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        /* layer_1 以降はそのまま省略 … */
    };
};
